body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.card {
  margin: 1rem;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(209, 209, 209);
  /* transition: width .50s, height .50s;
  height: 445px;
  width: 700px; */
}
.card:hover {
  margin: 1rem;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(209, 209, 209);
  /* height: 452px;
  width: 553px; */
}
.cards { 
  list-style: none;
  margin: auto;
  width: 70%;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
  background-color: rgb(49, 49, 49);
}
.card img {
  width: 45%;
}
.card button {
  margin-top: 0.5rem;
}
.searchbar {
  /* padding: 1rem;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
   */
   position:absolute;
   height:100px;
   width:400px;  
   left:120px;
}
/* button.primary {
  background-color:white;
  color: black;
} */
/* 1.2fr 0.7fr 2fr 2fr [re] 2fr 2.2fr 2.1fr 0.6fr; */
.Home {  display: grid;
  grid-template-columns: 0.6fr 1.8fr 0.6fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". newForm ."
    ". Searchbar ."
    ". results ."
    ". results ."
    ". results ."
    ". results ."
    ". results ."
    ". . .";
}
.newForm { grid-area: newForm; }
.Searchbar { grid-area: Searchbar;
  position:relative;
  width:640px;
  height: 70px;
  margin: 0 auto;
 }
.results { grid-area: results;
   }
 #search {
   width: 100%;
   height: 40%;
   transition: width .35s, height .35s;
   
 }
 #search:focus {
  width: 419px;
  height: 45%;
 }
 .form-inputs {
  width: 40%;
  height: 40%;
  transition: width .25s, height .25s;
 }
 .form-inputs:focus {
  width: 43%;
  height: 43%;
 }
 .buttons {
   background-color:grey;
   height: 25px;
   width: 150px;
   transition: width .25s, height .25s;
 }
 .buttons:hover {
   background-color: orange;
   height: 25px;
   width: 155px;
 }
.nav { 
  text-align:center;
  background-color: rgb(104, 104, 104);
  color: white
}
.active {
  color: white;
}
.newForm {
  position:relative;
  width:640px;
  text-align:center;
  margin: auto;
}
/* .form { 
  position:absolute;
  height:100px;
  width:400px; 
  top:50px;
  left:120px;
} */

/* thumbs up and down  */
.fa-thumbs-up:hover {
  font-size: 2.3em;
  color: green;
}

.fa-thumbs-down:hover {
  font-size: 2.3em;
  color: red;
}
.cont {
  /* width: 250px;
  height: 250px;
  margin-top: 50px;
  margin-left: 150px; */
  /* height: 200px; */
  background-color: rgb(49, 49, 49);
}
.cont2 {
  /* width: 250px;
  height: 250px;
  margin-top: 50px;
  margin-left: 150px; */
  background-color: rgb(248, 190, 0);
}
.articles{
  text-align: center;
}
.likes2 { 
  color : blue
}
#calculator {
  display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
}
#div-form {
  display: block;
    text-align: center;
}
.Calc-text {
  font-size: 50px;
}
.buttons1 {
  background-color:grey;
   height: 70px;
   font-size: 30px;
   transition: width .25s, height .25s;
}
.buttons1:hover {
  background-color: orange;
  height: 75px;
}
#loan-term {
padding-bottom: 20px
}
.Calc-input {
  height: 30px;
  width: 265px;
  transition: width .25s, height .25s;
}
.Calc-input:focus {
  height: 35px;
  width: 270px;
}
.like-button {
  height: 25px;
  width: 50px;
  transition: width .25s, height .25s;
  margin-left: 60px;
  margin-bottom: 5px;
}
.like-button:hover {
  height: 28px;
  width: 53px;
  background-color: blue;
  color: white;
}
.like-button:active {
  background-color:darkblue
}
.delete-btn {
  height: 26px;
  width: 24px;
  transition: width .25s, height .25s;
  margin-right: 17px;
}
.delete-btn:hover {
background-color: red;
height: 29px;
width: 28px;
}
.delete-btn:active {
  background-color: rgb(208, 125, 17) ;
  }
.primary {
  height: 25px;
  width: 70px;
  transition: width .25s, height .25s;
  margin-right: 60px;
}
.primary:hover {
  height: 29px;
  width: 74px;
  background-color: rgb(255, 140, 0);
}
.primary:active {
  background-color: rgb(248, 190, 0)
}
.img-cards {
transition: width .60s, height .60s;
}
.img-cards:hover {
height: 90%;
width: 90%;
}
