body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.card {
  margin: 1rem;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  
}
.cards { 
  list-style: none;
  margin: auto;
  width: 90%;
  border: 3px solid rgb(0, 0, 0);
  padding: 10px;
}
.card img {
  width: 45%;
}
.card button {
  margin-top: 0.5rem;
}
.searchbar {
  /* padding: 1rem;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
   */
   position:absolute;
   height:100px;
   width:400px; 
   top:50px;
   left:120px;
  
  
}
button.primary {
  background-color:white;
  color: black;
}
.Home {  display: grid;
  grid-template-columns: 0.6fr 1.8fr 0.6fr;
  grid-template-rows: 0.5fr 0.5fr 2fr 2fr [re] 2fr 2.2fr 2.1fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". newForm ."
    ". Searchbar ."
    ". results ."
    ". results ."
    ". results ."
    ". results ."
    ". results ."
    ". . .";
}

.newForm { grid-area: newForm; }

.Searchbar { grid-area: Searchbar;
  position:relative;
  width:640px;
  
  margin: 0 auto;
 }

.results { grid-area: results; }



 
 #search {
   width: 100%;
   height: 40%
 }

.nav { 
  text-align:center;
}
.newForm {
  position:relative;
  
  width:640px;
  top:50px;
  text-align:center;
  margin: auto;
}
/* .form { 
  position:absolute;
  height:100px;
  width:400px; 
  top:50px;
  left:120px;
} */




